@page
@{
    ViewData["Title"] = "Conelards - In Game";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Room</h2>
    <select id="role">
        <option value="Player">Player</option>
        <option value="Spectator">Spectator</option>
    </select>
    <button onclick="ready()" id="confirmButton">Ready</button>
}
else
{
    <h1>Please sign in to continue</h1>
}

@section Scripts{
    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/site.js"></script>
}