@page
@{
    ViewData["Title"] = "Conelards - In Game";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Room id: @User?.FindFirst("CurrentRoomId")</h2>

    <table id="participants"></table>

    <select id="role">
        <option value="Player">Player</option>
        <option value="Spectator">Spectator</option>
    </select>

    <button onclick="sendRoleAndReadyStatus()" id="confirm-button" class="btn btn-primary">Ready</button>

    <div id="discard"></div>
    <div id="hand"></div>

    <button onclick="playCards()" id="play-button" class="btn btn-success">Play selected card(s)</button>
}
else
{
    <h1>Please sign in to continue</h1>
}

@section Scripts{
    <script src="~/js/signalr/signalr.js"></script>
    <script src="~/room.js"></script>
}